Service References/AmeriaVposService/PaymentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://payments.ameriabank.am" elementFormDefault="qualified" targetNamespace="http://payments.ameriabank.am" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://testpayments.ameriabank.am/webservice/PaymentService.svc?xsd=xsd2" namespace="payments.ameriabank.am/PaymentsClientClass" />
  <xs:import schemaLocation="https://testpayments.ameriabank.am/webservice/PaymentService.svc?xsd=xsd3" namespace="payments.ameriabank.am/ResultPaymentClass" />
  <xs:import schemaLocation="https://testpayments.ameriabank.am/webservice/PaymentService.svc?xsd=xsd4" namespace="payments.ameriabank.am/PaymentFieldsClass" />
  <xs:import schemaLocation="https://testpayments.ameriabank.am/webservice/PaymentService.svc?xsd=xsd5" namespace="payments.ameriabank.am/RespMessage" />
  <xs:element name="GetPaymentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="payments.ameriabank.am/PaymentsClientClass" minOccurs="0" name="paymentfields" nillable="true" type="q1:PaymentClientClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="payments.ameriabank.am/ResultPaymentClass" minOccurs="0" name="GetPaymentIDResult" nillable="true" type="q2:ResultPaymentClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="payments.ameriabank.am/PaymentsClientClass" minOccurs="0" name="paymentfields" nillable="true" type="q3:PaymentClientClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="payments.ameriabank.am/PaymentFieldsClass" minOccurs="0" name="GetPaymentFieldsResult" nillable="true" type="q4:PaymentFields" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReversePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="payments.ameriabank.am/PaymentsClientClass" minOccurs="0" name="paymentfields" nillable="true" type="q5:PaymentClientClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReversePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="payments.ameriabank.am/RespMessage" minOccurs="0" name="ReversePaymentResult" nillable="true" type="q6:RespMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Confirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="payments.ameriabank.am/PaymentsClientClass" minOccurs="0" name="paymentfields" nillable="true" type="q7:PaymentClientClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="payments.ameriabank.am/RespMessage" minOccurs="0" name="ConfirmationResult" nillable="true" type="q8:RespMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="payments.ameriabank.am/PaymentsClientClass" minOccurs="0" name="paymentfields" nillable="true" type="q9:PaymentClientClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="payments.ameriabank.am/RespMessage" minOccurs="0" name="RefundResult" nillable="true" type="q10:RespMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpaque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="payments.ameriabank.am/PaymentsClientClass" minOccurs="0" name="paymentfields" nillable="true" type="q11:PaymentClientClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpaqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="payments.ameriabank.am/RespMessage" minOccurs="0" name="UpdateOpaqueResult" nillable="true" type="q12:RespMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>